* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(98, 98, 98, 255);
  }
  body {
    font-family: "Playfair Display", serif;
  }
  
  /* EDIT#1 */

  /* ul {
    width: max-content;
    margin: auto;
  } */

  /*EDIT#2*/
  .container {
    width: 900px;
    margin: 0 auto;
  }
  /* Edit#4 */
  .menu {
    font-size: 0;
    
  }
/* Edit#4 */
  .link {
    font-size: 14px;
    display: block;
  }
/* Edit#5 */
  .folder {
    margin-right: 0 auto;
  }
  /* Edit#5 */
  .menu li:not(:last-child) {
    margin-right: 0 auto;
  }


  li {
    display: inline-block;
    margin: 40px;


    text-transform: uppercase;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: blue;
  }
  
  .MainBox {
    width: 1000px;
    margin: auto;
  }

  /* Edit#7 */
  .MainBox .box:nth-child(odd) {
margin-right: 0 auto;
  }

  .upper {
    text-transform: uppercase;
  }


  .box {
    width: 420px;
  }


  article {
    display: inline-block;
    margin: 40px;
  }
  h2 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
  img {
    margin-bottom: 20px;
  }
  /* .center {
    text-align: center;
  } */
  button {
    padding: 21px 34px;
    font-size: 20px;
    background-color: white;
    font-family: "Playfair Display", serif;
    border: 1px solid black;
    /* margin-bottom: 20px; */
  }